@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --type-font: 'Varela Round', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(90deg, #a6aaab, #b5b9ba, #c5c9ca, #d4d8d9, #e4e8e9, #eef2f3, #f2f5f6, #b5b9ba, #a6aaab);
  background-size: 180% 180%;
  -webkit-animation: rainbow 16s ease infinite;
  -o-animation: rainbow 16s ease infinite;
  animation: rainbow 16s ease infinite;
  color: white;
  font-family: 'DM Mono', monospace;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.headerInput {
  width: 100%;
  /* height: 150px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

#search {
  font-family: 'Source Code Pro', monospace;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: 'Source Code Pro', monospace;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  border-right: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-family: var(--type-font);
  font-size: 1.1rem;
  cursor: text;
  top: 20px;
  font-weight: 200;
  background: linear-gradient(90deg, #acacac, #272727);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form__label {
  font-family: var(--type-font);
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #dbdbdb;
  background: linear-gradient(90deg, #e0e0e0, #e0e0e0);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #000000, #ffffff);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #000000;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
  background: #e07d0c;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(56, 100%, 69%, 0.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #ddd6f3, #ececec, #c7c7c7, #9b9b9b, #ffe7e7, #ffe7e7, #fcd4d4, #eeb3b0, #faaca8);
  /* background: linear-gradient(90deg, #201c29, #201c20 1px, #17141d 0, #17141d); */
}

/* .card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #eef2f3, #ffd9d1, #ffb3a4, #ee6350, #cc3729, #ba291c, #a81810, #970002, #ff0004);
} */

.page {
  margin-top: 50px;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #d0d0d0;
  box-shadow: -32px -1px 49px 6px rgba(0, 0, 0, 0.43);
  transition: 0.2s;
}

.page:hover {
  transform: translateY(-1rem);
  cursor: pointer;
}

.page:hover ~ .page {
  transform: translateX(130px);
}

.page:not(:first-child) {
  margin-left: -130px;
}

.card-author {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
}

.author-avatar img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  overflow: hidden;
  margin: 16px 10px;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10%;
}

.author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
}

.card-header h2:hover {
  background: linear-gradient(90deg, #ff8a00, #e52ee5);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes colorRotate {
  from {
    background: #7070e6;
    color: #c5c5c5;
  }
  10% {
    background: #4e94c2;
    color: #000000;
  }
  50% {
    background: #55bd55;
    color: #ffffff;
  }
  75% {
    background: #ff3399;
    color: #000000;
  }
  100% {
    background: #5b5baf;
    color: #ffffff;
  }
}
