@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --body-font: 'Mulish', sans-serif;
  --title-font: 'Poppins', sans-serif;
  --type-font: 'Varela Round', sans-serif;
  --primary-bg: #fff;
  --secondary-bg: #f7f7f7;
  --primary-text-color: #212529;
  --secondary-text-color: #6c757d;
  --special-color: #e24727;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    #ddd6f3,
    #fdf5f5,
    #fff3f3,
    #ffefef,
    #ffe7e7,
    #ffe7e7,
    #fcd4d4,
    #eeb3b0,
    #faaca8
  );
  background-size: 180% 180%;
  -webkit-animation: rainbow 16s ease infinite;
  -z-animation: rainbow 16s ease infinite;
  -o-animation: rainbow 16s ease infinite;
  animation: rainbow 16s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

#search {
  font-family: 'Source Code Pro', monospace;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: 'Source Code Pro', monospace;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  border-right: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-family: var(--type-font);
  font-size: 1.1rem;
  cursor: text;
  top: 20px;
  font-weight: 200;
  background: linear-gradient(90deg, #acacac, #272727);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form__label {
  font-family: var(--type-font);
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #dbdbdb;
  background: linear-gradient(90deg, #e0e0e0, #e0e0e0);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #000000, #ffffff);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #000000;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* demo
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
} */
